.bubble {
    width: fit-content;
    height: fit-content;
    background-color: rgba(205, 205, 205, 0.37);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

p {
    margin: 0;
    padding: 5px;
    font-size: 13px;
    font-family: sans-serif;
}
  

